.header {
    position: relative;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgba(20, 42, 36, 1);
}

.content {
    margin-top: 3vw;
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.headingOfHeader {
    font-size: 3.5vw;
    color: #fff;
}

.citation {
    margin-top: 1vw;
    font-style: italic;
    font-size: 1.3vw;
    color: #fff;
}

.email-button {
    display: inline-block;
    margin-top: 7vw;
    padding: 15px 15px;
    font-size: 1.3vw;
    color: #fff;
    background: rgba(0,189,165,1.0);
    border: 1px solid #00BDA5;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.email-button:hover {
    background: #516747;
}

@media only screen and (max-width: 850px) {
    .content {
        margin-top: 10vw;
    }
    
    .headingOfHeader {
        font-size: 7vw;
    }
    
    .citation {
        margin-top: 5vw;
        font-size: 5vw;
    }

    .email-button {
        display: inline-block;
        margin-top: 25vw;
        padding: 15px 15px;
        font-size: 5vw;
        color: #fff;
        background: rgba(0,189,165,1.0);
        border: 1px solid #00BDA5;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
    }

    .email-button:hover {
        background: #516747;
    }
    
}
