body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 20px;
}

.about-me-header h2,
.skillsHeader,
.languagesHeader,
.educationHeader2 {
  font-size: 35px;
  text-align: start;
  margin-bottom: 40px;
}

.aboutMeprg {
  font-size: 28px;
  text-align: start;
  font-style: italic;
}

.paragraphMain {
  font-size: 18px;
  margin-left: 10px;
}

.about-me-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-me-icon {
  margin-right: 20px;
}

.icon-paragraph {
  margin-top: 2vw;
  text-align: center;
}

.code-icon {
  color: #082e43;
}

.handshake-icon {
  color: #156a2c;
}

.comments-icon {
  color: #9c8748;
}

.rocket-icon {
  color: #6e1d14;
}

.services-description {
  font-size: 16px;
  margin-bottom: 50px !important;
  margin-top: 50px;
}

.educationHeader3 {
  font-size: 18px;
  text-align: center;
}

.educationParagraph {
  font-size: 18px;
  text-align: center;
}

.education-cards {
  justify-content: space-between;
}

.education-card {
  flex: 1;
  max-width: 100%;
}

.education-icon {
  margin: 0 auto;
  display: block;
  margin-top: 50px; 
  color: #0e3a50;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.skill-card {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.skill-card p {
  margin-left: 20px;
}

.services-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.services-description {
  font-size: 18px;
  margin-bottom: 80px;
}

.slide-in {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-in:nth-child(1) {
  animation: slideIn 3s forwards;
}

.slide-in:nth-child(2) {
  animation: slideIn 2s forwards 1s;
}

.slide-in:nth-child(3) {
  animation: slideIn 2s forwards 1s;
}

.slide-in:nth-child(4) {
  animation: slideIn 2s forwards 1.5s;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(-50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.connect-container {
  margin-top: 4vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  gap: 10px;
}

.connect-text {
  font-size: 28px;
  font-style: italic;
  padding: 10px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: inline-block;
}

.connect-text a {
  text-decoration: none;
  color: inherit;
}

.icons {
  display: flex;
  margin-left: 5vw;
  justify-content: start;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.icons a {
  transition: color 0.3s;
}

.icons .icon-linkedin {
  color: #0077b5;
}

.icons .icon-facebook {
  color: #1877f2;
}

.icons .icon-email {
  color: #d14836;
}

.icons .icon-github {
  color: #333;
}

.icons a:hover .icon-linkedin {
  color: #005582;
}

.icons a:hover .icon-facebook {
  color: #145dbf;
}

.icons a:hover .icon-email {
  color: #a13426;
}

.icons a:hover .icon-github {
  color: #24292e;
}

.icons a.active .icon-linkedin {
  color: #004462;
}

.icons a.active .icon-facebook {
  color: #104d9b;
}

.icons a.active .icon-email {
  color: #81251a;
}

.icons a.active .icon-github {
  color: #181717;
}

@media (max-width: 850px) {
  .column {
      flex: 100%;
      margin: 5px 0;
  }

  .about-me-header {
      font-size: 20px;
      margin-bottom: 30px;
  }

  .aboutMeprg {
      font-size: 28px;
  }

  .paragraphMain {
      font-size: 18px;
      margin-left: 5px;
  }

  .skillsHeader,
  .languagesHeader,
  .educationHeader2 {
      font-size: 20px;
  }

  .educationHeader3,
  .educationParagraph {
      font-size: 18px;
  }

  .skill-card {
      flex-direction: column;
      align-items: flex-start;
  }

  .skill-card p {
      margin-left: 0;
      margin-top: 10px;
  }

  .services-text {
      font-size: 18px;
  }

  .services-description {
      font-size: 18px;
  }

  .connect-text {
      font-size: 18px;
      padding: 8px 16px;
  }
}

@media (max-width: 576px) {
  .about-me-header {
      font-size: 20px;
      margin-bottom: 20px;
  }

  .aboutMeprg {
      font-size: 18px;
  }

  .paragraphMain {
      font-size: 14px;
  }

  .skillsHeader,
  .languagesHeader,
  .educationHeader2 {
      font-size: 24px;
  }

  .educationHeader3,
  .educationParagraph {
      font-size: 14px;
  }

  .services-text {
      font-size: 18px;
  }

  .services-description {
      font-size: 14px;
      margin-bottom: 60px;
  }

  .connect-text {
      font-size: 24px;
      padding: 6px 12px;
  }

  .main-content {
      padding: 10px;
  }

  .column {
      padding: 10px;
      margin: 5px 0;
  }

  .skill-card {
      padding: 15px;
  }
}

@media (max-width: 400px) {
  .about-me-header {
      font-size: 18px;
      margin-bottom: 15px;
  }

  .aboutMeprg {
      font-size: 16px;
  }

  .paragraphMain {
      font-size: 13px;
  }

  .skillsHeader,
  .languagesHeader,
  .educationHeader2 {
      font-size: 20px;
  }

  .educationHeader3,
  .educationParagraph {
      font-size: 12px;
  }

  .services-text {
      font-size: 16px;
  }

  .services-description {
      font-size: 12px;
      margin-bottom: 50px;
  }

  .connect-text {
      font-size: 20px;
      padding: 4px 10px;
  }

  .main-content {
      padding: 5px;
  }

  .column {
      padding: 5px;
      margin: 2px 0;
  }

  .skill-card {
      padding: 5px;
  }
}












